body {
  /* background-color: rgb(51, 51, 51); */
}

.App {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.left {
  width: 20%;
  /* border: 1px solid black; */
  margin-top: 50px;
  /* color: whitesmoke; */
}

.right {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */

  margin-top: 50px;
  width: 75%;
  /* border: 1px solid black; */
}

.movies {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 3em;
  /* scrollbar-width: none; */
  padding-top: 20px;
  gap: 1em;
}

.movies::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  /* cursor: pointer; */
}

.wrapper img {
  width: 230px;
  height: 370px;
  border-radius: 25px;
}

.element-grow {
  font-size: 18px;
  transition: transform 0.3s ease-in-out;
}

.wrapper:hover .element-grow {
  transform: scale(1.1);
  /* cursor: pointer; */
}

.details {
  display: none;
  position: absolute;
  animation: fadeIn 1s forwards;
  transition: transform 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.8);
  /* background-color: #fff; */
  color: whitesmoke;

  width: 230px;
  height: 370px;
  border-radius: 25px;
}

.details p {
  margin: 15px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wrapper:hover .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: scale(1.1);
}

.modification{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: whitesmoke;
  border-radius: 50px;
  width: 35px;
  height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

.modification img{
  width: 20px;
  /* height: 20px; */
}

span {
  font-weight: bold;
}

h2 {
  text-align: center;
  font-size: 35px;
  /* color: whitesmoke; */
}

input,
textarea {
  width: 300px;
  height: 50px;
  display: block;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 1px black;
}

textarea {
  height: 100px;
}

button {
  width: 150px;
  height: 30px;
  border-radius: 7px;
}

.filter {
  width: 100%;
}
